<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @market_study.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @market_study.content %>
</p>

<%= link_to 'Edit', edit_market_study_path(@market_study) %> |
<%= link_to 'Back', market_studies_path %>
