<p id="notice"><%= notice %></p>

<h1>Listing General Market Studies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @general_market_studies.each do |general_market_study| %>
      <tr>
        <td><%= general_market_study.title %></td>
        <td><%= general_market_study.content %></td>
        <td><%= link_to 'Show', general_market_study %></td>
        <td><%= link_to 'Edit', edit_general_market_study_path(general_market_study) %></td>
        <td><%= link_to 'Destroy', general_market_study, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New General market study', new_general_market_study_path %>
