<%= form_for(@general_market_study) do |f| %>
  <% if @general_market_study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@general_market_study.errors.count, "error") %> prohibited this market_study from being saved:</h2>

      <ul>
      <% @general_market_study.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title , class:  "form-control"%>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content , class:  "form-control"%>
  </div>
  <div class="actions">
    <%= f.submit  class: "btn btn-primary"%>
  </div>
<% end %>
