
<script type="text/javascript">
	//alert('https://www.highcharts.com/samples/data/jsonp.php?filename=new-intraday.json&callback=?');

// $(function() {
//         // Create the chart
//         window.chart = new Highcharts.StockChart({
//             chart : {
//                 renderTo : <%= divId %>
//             },


//             xAxis: [{
//               title: {
                
//                 style: {
//                   color: '#333333',
//                   font: '16px Arial',
//                   fontWeight:'bold'
//                 }                
//               },
//               gridLineEnabled:true,
//               ordinal: true,
//               gridLineDashStyle:"longdash",
//               gridLineWidth:1,
//               gridLineColor:"#bababa",
//               dateTimeLabelFormats:{
//                   second:"%H:%M:%S",
//                   minute:"%H:%M",
//                   hour:"%H:%M",
//                   day:"%d %b",
//                   week:"%d %b",
//                   month:"%d %b",
//                   year:"%d %b"
//               },
//               type:"datetime",
              
//             }],
    
//            yAxis: {
//             opposite: false,
//             title: {
                 
//                   style: {
//                   color: '#333333',
//                   font: '16px Arial',
//                   fontWeight:'bold'
//                 }

//               }
//             },

//             title : {
//                 text: "Temporary name",
                
//                 style: {
//                   color: '#333333',
//                   font: '16px Arial',
//                   fontWeight:'bold'
//                 }

//             },
            
//             scrollbar:{
//               liveRedraw:true
//             },

//             rangeSelector : {
//                 allButtonsEnabled: true,

//                 buttons: [
                
//                 {
//                     type: 'day',
//                     count:4,
//                     text: '4D',
                    
//                 },
//                 {
//                     type: 'month',
//                     count:1,
//                     text: '1M',
                    
//                 }

//                 ],
//                 buttonTheme: {
//                     width: 60
//                 },
//                 selected: 0
//             },
//             legend: {
//             enabled: true,
//             align: 'right',
//             backgroundColor: '#FCFFC5',
//             borderColor: 'black',
//             borderWidth: 2,
//             layout: 'vertical',
//             verticalAlign: 'top',
//             floating:'true',
//             y: 100,
//             shadow: true
//         },

//             series : series
            
//         });
     
// });


// var series = [{
//               //pointStart:Date.UTC(2015,9,27),
//                 name : '4%+Up High Volume',
//                 data : <%= data1 %>,
//                 tooltip: {
//                     valueDecimals: 2
//                 },
//                 turboThreshold:0,
//                 color: '#008080', 
//             }
//             <%if data2.present? %>
//             ,
//               {
//                 name : '4%+Down High Volume',
//                 data : <%= data2 %>,
//                 tooltip: {
//                     valueDecimals: 2
//                 },
//                 turboThreshold:0,
//                 color: '#C1271F', 
//             }
//             <% end %>

//             ]

$(function () {
    var seriesOptions = [],
        seriesCounter = 0,
        names = <%= raw names %>,
        title = <%= raw tit %>;
       
       
    /**
     * Create the chart when all data is loaded
     * @returns {undefined}
     */
    function createChart() {

        $(<%= divId %>).highcharts('StockChart', {

            rangeSelector: {
                selected: 4
            },

            yAxis: {
                labels: {
                    formatter: function () {
                        return (this.value > 0 ? ' + ' : '') + this.value + '%';
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 2,
                    color: 'silver'
                }]
            },
            title: titleOptions,
            legend: {
            enabled: true,
            align: 'right',
            backgroundColor: '#FCFFC5',
            borderColor: 'black',
            borderWidth: 2,
            layout: 'vertical',
            verticalAlign: 'top',
            floating:'true',
            y: 100, 
            shadow: true
            },
            plotOptions: {
                series: {
                    compare: 'percent'
                }
            },

            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                valueDecimals: 2
            },

            series: seriesOptions
        });
    }

    $.each(names, function (i, name) {

        if (i == 0){
          seriesOptions[i] = {
                   name: name,
                   data: <%= data1 %>,
                   color: '#008080'
          };
        }else{
          seriesOptions[i] = {
              name: name,
              data: <%= data2 %>,
              color: '#C1271F',
          };
        }
        seriesCounter += 1
        if (seriesCounter === names.length) {
          titleOptions = {
            text: <%= raw tit %>,
            
            style: {
              color: '#333333',
              font: '16px Arial',
              fontWeight:'bold'
            }

            };
          createChart();
        }
        
    });
});







</script>

