<!-- <h2>
    <a href="#"><%= commentary.title %></a>
    <% if user_signed_in? and current_user.is_admin? %>
	    <div class="pull-right">
	       <%= link_to 'Show', commentary , :class =>"btn btn-info btn-xs"%></td>
           <%= link_to 'Edit', edit_commentary_path(commentary) , :class =>"btn btn-info btn-xs"%></td>
           <%= link_to 'Destroy', commentary, :class =>"btn btn-info btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
			
		</div>
	<% end %>
</h2>
<hr>
<div>
<p class="">
    by <a href="index.php"><%= commentary.user.email %></a>
    <span class="pull-right"><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</span>
</p>


</div>
<hr>

<p><%= commentary.body %></p>
<a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

<hr>
 -->

<div class="blog-post">
  <h2 class="blog-post-title"><%= commentary.title %></h2>
  <p class="blog-post-meta"><%= time_ago_in_words(commentary.created_at) %> ago by <a href="#"><%= commentary.user.email %></a></p>
  <% if user_signed_in? and current_user.is_admin? %>
  <div >
    <%= link_to 'Show', commentary , :class =>"btn btn-info btn-xs"%>
    <%= link_to 'Edit', edit_commentary_path(commentary) , :class =>"btn btn-info btn-xs"%>
    <%= link_to 'Destroy', commentary, :class =>"btn btn-info btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
  <p>
    <%= commentary.body[0..150].gsub(/\s\w+\s*$/,'...')  %><span class = "read_more"><%= link_to 'read more >>>', commentary %></span>
  </p>
</div><!-- /.blog-post -->